* {

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }
  
  .body-text {
  
    display: flex;
  
    font-family: "Montserrat", sans-serif;

    color: #ffffff;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: 250px;
  
  }

  body {
    background-color: #3a3a3a;

  }
  
  nav {
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;

    height: 60px;
  
    background-color: rgb(41, 41, 41);
  
    font-family: "Montserrat", sans-serif;
  
  }
  
  .heading {
  
    color: white;
  
    text-transform: uppercase;

    position: relative;

    top: 10px;
  
    letter-spacing: 5px;
  
    font-size: 24px;
  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a {
  
    color: white;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: rgb(55, 55, 55);
  
  }
  
  .nav-links li a.active {
  
    background-color: #797979;
  
  }

  .mine {
    align-items: center;
  }
  
  .mine .message {
    color: white;
    font-size: 28px;
    margin-left: 0%;
    background: rgb(0, 120, 254);
    position: relative;
  }

  .chat {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .messages {
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .yours {
    align-items: flex-start;
  }
  
  .yours .message {
    color: white;
    font-size: 16px;
    margin-right: 0%;
    background-color: #777777;
    position: relative;
  }
  
